header {
    font-family: 'Bebas neue';
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.885);
    
}

header ul li {
    transition: ease-in-out 1s;
}

.cardProduct{
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.403);
    transition: ease-in-out 0.2s;
}

.cardProduct:hover{
    transform: scale(1.07);
    cursor: pointer;
}





/* ACCORDION STYLES */

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background: black!important;
    padding: 0px 1rem;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root>div {
    border-bottom: .1px gray solid;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root > div , .css-1elwnq4-MuiPaper-root-MuiAccordion-root>div > div {
    color: white;
}